{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<div class="columns is-centered">

    <div class="column is-5">

        <div class="box">

            <h1 class="title has-text-centered">

                {% trans "Password Reset" %}

            </h1>

            <p class="mb-5 has-text-centered">

                {% trans "Forgot your password? Enter your email address below." %}

            </p>

            <form method="post">

                {% csrf_token %}

                {% for field in form %}

                    <div class="field">

                        <label class="label">

                            {{ field.label }}

                        </label>

                        <div class="control">

                            {{ field }}

                        </div>

                        {% if field.errors %}

                            <p class="help is-danger">

                                {{ field.errors }}

                            </p>

                        {% endif %}

                    </div>

                {% endfor %}

                <button class="button is-primary is-fullwidth">

                    {% trans "Send Reset Link" %}

                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}